<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RSlog - {{ title }}</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header>
      <p>Eric's Blog</p>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>
