{% extends "base" %}
{% block content %}
<link rel="stylesheet" href="/static/details.css" />
<div class="card-container">
  <h1>{{ post.title }}</title>
  <p>{{ post.text }}</p>
</div>
{% endblock content %}
